html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: none;
  box-sizing: none; }

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 768px;
  height: 1024px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid black;
  background: #f9f9e2;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #mainContent img, #mainContent div {
    position: absolute; }

.hide {
  opacity: 0; }

#groundContainer {
  width: 1789px;
  height: 1506px;
  background: url(../img/background.jpg) 0 0 no-repeat;
  -webkit-transform: translateX(-170px) translateY(-510px) scale(1);
  -ms-transform: translateX(-170px) translateY(-510px) scale(1);
  transform: translateX(-170px) translateY(-510px) scale(1); }

.player {
  width: 113px;
  height: 130px;
  background: url(../img/puck-outer.svg) 0 0 no-repeat;
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8); }
  .player .glow, .player .es, .player .fr {
    top: 9px;
    left: 9px;
    -webkit-transform: scale(1.08) rotate(0deg);
    -ms-transform: scale(1.08) rotate(0deg);
    transform: scale(1.08) rotate(0deg); }

#frPlayer1 {
  bottom: 230px;
  left: 360px; }

#frPlayer2 {
  top: 540px;
  right: 640px; }

#esPlayer1 {
  bottom: 230px;
  left: 670px; }

#esPlayer2 {
  top: 140px;
  right: 360px; }

#esPlayer3 {
  bottom: 530px;
  right: 500px; }
  #esPlayer3 .es {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg); }

#googlePlayLogo {
  bottom: 0;
  left: 0;
  background: #FFF;
  width: 768px;
  height: 90px; }
  #googlePlayLogo img {
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.5);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1.5);
    transform: translateX(-50%) translateY(-50%) scale(1.5); }

#goal {
  right: -1px;
  top: 14px; }

.copy {
  width: 768px;
  top: 110px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 90px;
  text-align: center;
  font-weight: bold;
  line-height: .9;
  color: #FFF; }

#football {
  top: 845px;
  left: 465px;
  width: 200px;
  height: 200px;
  background: url(../img/ball-shadow.png);
  -webkit-transform: scale(0.7) rotate(0deg);
  -ms-transform: scale(0.7) rotate(0deg);
  transform: scale(0.7) rotate(0deg); }
  #football #ball {
    width: 200px;
    height: 200px;
    background: url(../img/ball-spriteSheet.png);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  #football #impression {
    width: 200px;
    height: 200px; }

#playerMark {
  bottom: 130px;
  left: 18px;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }
