@import '_settings';
@import '_config';
@import '_mixins';

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Arial, Helvetica, sans-serif;
}

#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    // width: 1789px; height: 1506px;
    cursor: pointer;
    transform: rotate(0deg);
    border: 1px solid black;
    background: $backgroundColor ;
    background-size:cover;
    box-sizing: border-box;

    img, div{
        position: absolute;
    }
}
.hide{
    opacity: 0;
}

#groundContainer{
    width: 1789px; height: 1506px;
    background: url(../img/background.jpg) 0 0 no-repeat;
    transform: translateX(-170px) translateY(-510px) scale(1);
    // transform: translateX(-730px) translateY(-267px) scale(.755);
}
.player{ 
    width: 113px; height: 130px;
    background: url(../img/puck-outer.svg) 0 0 no-repeat;
    transform: scale(1.8);
    .glow, .es, .fr{
        top: 9px; left: 9px;
        transform: scale(1.08) rotate(0deg);
    }
}
#frPlayer1 {
    bottom: 230px;
    left: 360px;
}
#frPlayer2 {
    top: 540px;
    right: 640px;
}
// #frPlayer3 {
//     top: 320px;
//     right: 1080px;
//     .fr{
//         transform: rotate(50deg);
//     }
// }
#esPlayer1 {
    bottom: 230px;
    left: 670px;
}
#esPlayer2 {
    top: 140px;
    right: 360px;
}
#esPlayer3 {
    bottom: 530px;
    right: 500px;
    .es{
        transform: rotate(-10deg);
    }
}
#googlePlayLogo{
    bottom: 0; left: 0; background: #FFF;
    width: $width; height: 90px;
    img{
        left: 50%; top: 50%; 
        transform: translateX(-50%) translateY(-50%) scale(1.5);
    }
}
#goal{
    right: -1px; top:14px;
}
.copy {
    width: $width; 
    top: 110px; left: 50%; 
    transform: translateX(-50%);
    font-size: 90px;
    text-align: center;
    font-weight: bold;
    line-height: .9;
    color: #FFF;
}
#football{
    top: 845px; left: 465px;
    width: 200px; height: 200px;
    background: url(../img/ball-shadow.png);
    transform: scale(.7) rotate(0deg);
    // transform: scale(.8) rotate(130deg);
    #ball {
        width: 200px; height: 200px;
        background: url(../img/ball-spriteSheet.png);
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }
    #impression {
        width: 200px; height: 200px;
    }
}
#playerMark{
    bottom: 130px;
    left: 18px;
    transform: scale(1.1);
}


